* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
    text-align: center;
}
.base {
    position: absolute;
    height: 100%;
    width: 50%;
    padding: 1rem;
}
.one {
    left: 0;
    border-right: 1px solid #ccc;
}
.two {
    right: 0;
}